.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: rgb(234, 246, 250);
    box-shadow: 2px 2px 50px gray;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2 {
        padding: 2rem;
    }
}

.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img{
        width: 30%
    }
    &:hover{
        background-color: rgb(255, 242, 255);
    }
}
.song-description{
    padding: 1rem;
    h4 {
    font-size: 1rem;
    color:rgb(100,100,100);
}
h5{
    font-size: 0.75rem;
    color:rgb(100,100,100);
    }
}
*{
    scrollbar-width: thin;
    scrollbar-color: rgb(212, 212, 212) transparent;
}
*::-webkit-scrollbar {
    width: 5px;;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb { 
    background-color: rgb(209, 207, 207);
    border-radius: 20px;
}
.selected {
    background: pink;
}
.active-library {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px){
    .library {
        width: 100%;
    }
}